.HardSkillPie {
  width: 12em;
  height: 60px;
  display: grid;
  align-content: center;
  align-items: center;
  grid-template-columns: 40% 20% 40%;
}
.HardSkillPie .img-container {
  height: 40px;
  padding: 5%;
}

.HardSkillPie img[alt='image'] {
  height: 100%;
}
.pie-stat {
  font-size: 0.6rem;
}
.pie-container {
  width: 100% !important;
}
