.HardSkillPie {
  width: 15em;
  height: 70px;
  display: grid;
  align-content: center;
  align-items: center;
  grid-template-columns: 40% 20% 40%;
  border: 1px solid #b7cfe5;
}
.HardSkillPie .img-container {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 40px;
  padding: 5%;
}

.HardSkillPie img[alt='image'] {
  height: 100%;
}
.pie-stat {
  font-size: 0.7rem;
}
.pie-container {
  width: 100% !important;
  display: grid;
  justify-content: center;
  align-items: center;
}
