.SkillGridPie:not(:first-of-type) {
  margin: 15px 0;
}

.SkillGrid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(8em, 10em));
  grid-template-rows: repeat(auto-fit, 80px);
  align-items: start;
  justify-content: start;
}
