.Header {
  box-sizing: border-box;
  display: grid;
  justify-items: center;
}
.Header .Photo {
  width: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 50px;
  align-items: center;
  justify-items: center;
}

.Header .Photo img {
  border-radius: 50%;
  max-width: 100%;
  border: 2px solid rgb(167, 157, 157);
  box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.3);
}
.Header .Photo .name {
  display: grid;
  justify-items: center;
  padding: 0 0 0 8px;
  align-items: start;
  font-family: 'Spectral', serif;
  font-size: 1.7rem !important;
  line-height: 1;
  font-style: italic;
}
.name h1 {
  color: #ddd !important;
}
.Header .Photo .title {
  grid-column: span 2;
  font-family: 'Spectral', serif;
  font-size: 1.2rem;
}
