.Layout {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
  grid-template-rows: 250px 1fr;
  grid-template-areas:
    'header header header'
    'timeline middle skills';
}

.Layout .Header {
  grid-area: header;
  background-color: #A0B4Bf28;
  /* border: 1px solid tomato; */
}

.Layout .Timeline {
  grid-column: timeline;
  /* border: 1px solid lime; */
  background-color: #d5f0ff28;
}

.Layout .content {
  grid-area: middle;
  /* border: 1px solid slateblue; */
  background-color: #C0D8E528;
}
.Layout .skills {
  /* border: 1px solid orangered; */
  grid-area: skills;
  padding: 15px 0 0 10px;
  background-color: #d5f0ff28;
}

/* media queries */

@media screen and (max-width: 800px) {
  .Layout {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 250px 1fr; */
    grid-template-areas:
      'header'
      'timeline'
      'middle'
      'skills';
  }
}
